body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgb(140, 125, 144);
  
}

h1 {
  margin-top: 50px;
}

label {
  margin-right: px;
  font-style: italic;
  
}

button {
  margin-left: 10px;
  background-color: rgb(141, 194, 177);
}

p {
  margin-top: 20px;
  text-decoration: rgb(130, 172, 172);
}
img {
  width: 350px;
  height: 150px;
}

p {
  color: aqua;
}
